.git
.pids
*.pyc
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
.venv
venv
tests/
working/
private/
*.log
docker-build.log
.env
env-*
!defaults.yaml
.pip.conf.build
node_modules
logs/
data/
archive/
